@model Registration.Models.Trip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuggagePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuggagePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DateTime).ToString("yyyy/dd/MM HH:mm")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
