@model Registration.Models.Trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Driver.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Convert.ToDateTime(Model.DateTime).ToString("yyyy/dd/MM HH:mm")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
