@model Registration.Models.Route

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromCity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromCity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOCity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOCity.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
